*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
Fennel.git/HEAD
Fennel.git/config
Fennel.git/description
Fennel.git/hooks/applypatch-msg.sample
Fennel.git/hooks/commit-msg.sample
Fennel.git/hooks/post-update.sample
Fennel.git/hooks/pre-applypatch.sample
Fennel.git/hooks/pre-commit.sample
Fennel.git/hooks/pre-push.sample
Fennel.git/hooks/pre-rebase.sample
Fennel.git/hooks/prepare-commit-msg.sample
Fennel.git/hooks/update.sample
Fennel.git/info/exclude
Fennel.git/objects/pack/pack-61ab34f62dfb6c07bf12b0e62e590c6c65fd7c5d.idx
Fennel.git/objects/pack/pack-61ab34f62dfb6c07bf12b0e62e590c6c65fd7c5d.pack
Fennel.git/packed-refs
